.container{
  width: 100%;
  text-align: center;
  padding-left: 5%;
}

.container h1 {
  margin-right: 12%;
}

.col-md-2 {
  float: left;
}

.cart{
  text-align: center;
  width: 86%;
}

.products {
  clear: both;
}
